<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RF_scanner"
        tools:targetApi="31"
        android:icon="@drawable/icon"
        >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LastMeas"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rf_scanner.LastMeas" />
        </activity>

        <activity
            android:name=".EditName"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rf_scanner.EditName" />
        </activity>

        <activity
            android:name=".HistMeas"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rf_scanner.HistMeas" />
        </activity>
    </application>

</manifest>